[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
lxml = "*"
httpx = "*"
beautifulsoup4 = "*"
trio = "*"
unidecode = "*"
spacy = "*"
futures = "*"
url-normalize = "*"
cssselect = "*"
munch = "*"
dataset = "*"
psycopg2 = "~=2.8.4"
fast-bert = "*"
torch = "*"
transformers = "*"
ptpython = "*"
psutil = "*"
requests = "*"
gemeinsprache = "*"
uuid = "*"
pyclustering = "*"
shapely = "*"
more-itertools = "*"
pylev = "*"
plotly = "*"
fuzzywuzzy = "*"
termcolor = "*"
ipython = "*"
pyproj = "*"
pandas = "*"
wikipedia = "*"

[requires]
python_version = "3.7"
