[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
lxml = "*"
httpx = "*"
beautifulsoup4 = "*"
trio = "*"
unidecode = "*"
spacy = "*"
futures = "*"
url-normalize = "*"
cssselect = "*"
munch = "*"
dataset = "*"
psycopg2 = "*"
fast-bert = "*"
torch = "*"
transformers = "*"
ptpython = "*"
psutil = "*"
requests = "*"
gemeinsprache = "*"
uuid = "*"
pyclustering = "*"

[requires]
python_version = "3.7"
